<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jld.ssm.dao.RoleExMapper" >
    <select id="roleList" parameterType="com.jld.ssm.pojo.RoleEn" resultType="com.jld.ssm.pojo.RoleEx">
      SELECT role.* FROM role LEFT JOIN user_role ON role.id = user_role.user_id
        WHERE role.id = #{0}
    </select>
</mapper>